* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.character {
    position: absolute;
    translate: -50% -50%;

    width: 50px;
    height: 50px;

    background: black;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    object-position: 50% 50%;
}

#player {
    background: blue;
}

.bot {
    background: #8f1732;
}

.speed-bot {
    width: 30px;
    height: 30px;
}

.fat-bot {
    width: 70px;
    height: 70px;
}

.eye {
    position: relative;
    width: 30%;
    height: 30%;
    border-radius: 50%;

    background: white;
    border: 2px solid black;
}

.eye::before {
    content: "";
    position: absolute;

    width: 30%;
    height: 30%;
    border-radius: 50%;

    background: black;

    left: 50%;
    top: 50%;
    translate: -50% -50%;

}

.weapon {
    width: 10px;
    height: 30px;
    background: rgb(42, 15, 4);

    /* translate it of 15px on Y */
    transform: translateY(-15px);

    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.bullet {
    position: fixed;
    translate: -50% -50%;

    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: black;
}

#overlay-info {
    position: fixed;
    left: 10px;
    top: 10px;
}

#hp-container {
    width: 200px;
    height: 30px;

    border: 3px solid black;
}

#hp-content {
    width: 100%;
    height: 100%;

    text-align: center;
    letter-spacing: 4px;
    font-family: Arial, sans-serif;
    margin-right: -5px;
    font-size: 22px;

    color: black;
    background: forestgreen;
}

#overlay-msg {
    position: fixed;
    z-index: 1;

    left: 50%;
    top: 50%;
    translate: -50% -50%;

    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 60px;

    /* add border to the text */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
}
