* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.character {
    position: absolute;
    left: 0;
    top: 0;
    translate: -50% -50%;
    rotate: 45deg;

    width: 50px;
    height: 50px;

    background: black;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    object-position: 50% 50%;
}

#player {
    background: blue;
}

.bot {
    background: #8f1732;
}

.speed-bot {
    width: 30px;
    height: 30px;
}

.fat-bot {
    width: 70px;
    height: 70px;
}

.weapon {
    width: 10px;
    height: 30px;
    background: red;

    /* translate it of 15px on Y */
    transform: translateY(-15px);

}

.bullet {
    position: fixed;
    translate: -50% -50%;

    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: black;
}